<div class="container">

    <form class="form mt-5 mb-3">
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control"  [formControl]="songNameControl" placeholder="Search song">
            </div>
            <div class="col">
                <select class="form-control col" [formControl]="searchCriteria">
                    <option value="musicTrack&musicVideo&audiobook">All</option>
                    <option value="musicTrack">Music</option>
                    <option value="musicVideo">Music Video</option>
                    <option value="audiobook">Audio Book</option>
                </select>
            </div>
            <div class="col">
                <button class="btn btn-dark btn-block" (click)="searchSong()">Search</button>
            </div>
        </div>
    </form>


    <div class="container mt-5" *ngIf="songs">
        <div class="row">
            <app-collection-item  class="col-4 d-flex align-items-stretch"  *ngFor="let song of songs  | slice: (currentPage * pageSize) - pageSize: currentPage * pageSize " [song]="song"></app-collection-item>
        </div>
    
        <ul class="pagination">
            <li>
                <label>Items per page:</label>
            </li>
            <li>
                <label class="mx-3">
                    <select class="form-control col" [(ngModel)]="pageSize" value="pageSize">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                </label>
            </li>
                       
            <li class="page-item mx-2">
                <button class="btn btn-primary" [disabled]="currentPage == 1" (click)="currentPage = currentPage - 1">&laquo;</button>
            </li>
            <span class="mx-2">Page {{currentPage}} of {{ numberOfPages() }}</span>
            <li class="page-item">
                <button class="btn btn-primary mx-2" [disabled]="currentPage >= songs.length/pageSize" (click)="currentPage = currentPage + 1">&raquo;</button>  
            </li>
        </ul>  
    </div>
</div>