<div class="container">

    <form class="form mt-5 mb-3">
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control"  [formControl]="songNameControl" placeholder="Search song">
            </div>
            <div class="col">
                <select class="form-control col" [formControl]="searchCriteria">
                    <option value="musicTrack&musicVideo&audiobook&shortFilm&tvSeason&software&ebook">All</option>
                    <option value="musicTrack">Music</option>
                    <option value="musicVideo">Music Video</option>
                    <option value="audiobook">Audio Book</option>
                    <option value="shortFilm">Short Film</option>
                    <option value="tvSeason">TV Show</option>
                    <option value="software">Software</option>
                    <option value="ebook">E-Book</option>
                </select>
            </div>
            <div class="col">
                <button class="btn btn-dark btn-block" (click)="searchSong()">Search</button>
            </div>
        </div>
    </form>


    <div class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Song Name</th>
                <th scope="col">Artist</th>
                <th scope="col">Album</th>
                <th scope="col">Duration</th>
            </tr>
        </thead>

        <tbody>
            <tr class="table-light text-dark" *ngFor="let song of songs;let i = index">
                <td>{{i+1}}</td>
                <td>{{song.trackName}}</td>
                <td>{{song.artistName}}</td>
                <td>{{song.collectionName}}</td>
                <td>{{convertToMinutes(song.trackTimeMillis)}}:{{convertToSeconds(song.trackTimeMillis)}}</td>  
            </tr>
        </tbody>
    </div>

</div>