<div>
    <div class="card text-white bg-secondary mb-3 mx-4" >
        <img class="card-img-top" src="{{song.artworkUrl100}}" width="60%">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title"><b>{{song.trackName}}</b></h5>
            <p class="card-text">{{song.artistName}}</p>
            <p class="card-text">{{song.collectionName}}</p>
            <p class="card-text">Duration: {{convertToMinutes(song.trackTimeMillis)}}:{{convertToSeconds(song.trackTimeMillis)}} Price: {{song.collectionPrice}} $ </p>
            <audio controls width="10%">
                <source src="{{song.previewUrl}}" type="audio/mp4">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
</div>
